{% extends 'base.html' %}

{% block main %}


    <h2>Departamentos da Empresa {{ request.user.empresa.get }}</h2>
    
    <br>
    
    <a class="nav-link" href="{% url 'create-departamento' %}?next={{ request.path }}">
        <button class="btn btn-lg btn-primary" type="submit">Cadastrar Departamentos</button>
    </a>

    <br>

    {% for departamento in object_list %}

        <p>{{ departamento }} : 
            <a href="{% url 'edit-departamento' departamento.id %}?next={{ request.path }}">Editar</a> 
            <a href="{% url 'delet-departamento' departamento.id %}?next={{ request.path }}">Excluir</a> 
        </p><br>
    
        {% empty %}
            <h3>Não a Departamentos cadastrados nesta empresa !!!</h3>

    {% endfor %}


{% endblock %}