<!-- Este arquivo serve para criação de um form padrao -->

{% extends "base.html" %}

{% load static %}
{% load bootstrap %}

{% block main %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{ titulo }}</h1>
            {% if object.horas_utilizadas %}
                <p>Horas extras já utilizadas!!</p>
            {% endif %}

        </div>
    </div>
</section>

<div class="container pb-5">
    <div class="row">

        <div class="my-3 col-md-2"></div>
        <div class="my-3 col-md-8">
            <form method="post" enctype="multipart/form-data" >
                
                <div class="form-row text-center">
                    {% csrf_token %}
                    
                    {{ form|bootstrap }}
                
                </div>
    

                <div class="text-center">
                    <button class="btn btn-lg btn-danger" onclick="window.open(document.referrer,'_self');">Voltar</button>
                    <button class="btn btn-lg btn-primary" type="submit">{{ botao }}</button>
                    {% if object.horas_utilizadas %}
                        <button class="btn btn-lg btn-primary" type="button" onclick="utilizou_hora_extra({{object.id}})">
                        Marcar como não utilizada</button>
                    {% else %}
                        <button class="btn btn-lg btn-primary" type="button" onclick="utilizou_hora_extra({{object.id}})">
                            Utilizar Horas Extras </button>
                    {% endif %}

                </div>

            

            </form>

        </div>
        <div class="my-3 col-md-2"></div>
    </div>
</div>

<h2 id="mensagem"></h2>

{% endblock%}

{% block script %}

<script src="{% static 'js/jquery.js' %}"> </script>
<script src="{% static 'js/funcoes_ajax.js' %}"> </script>

{% endblock %}

