{% extends 'base.html' %}

{% block main %}

    <form method="post">
        <div class="text-center">
            <img class="mb-4" src="#" alt="" width="75px" height="50px">
            <h1 class="h4 mb-3 fw-normal">Faça seu Login</h1>
        </div>
        <div class="form-row">
            {% csrf_token %}
        
            {% for field in form %}
            <div class="form-floating mb-3">
                {{field}}
                {{field.errors}}
            </div>
            {% endfor %}
        
        </div>

        <div class="checkbox mb-3">
       
            <a href="#"> Esqueceu a senha?</a>

        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>

{% endblock %}