{% load static %}

<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    
    <title>{% block title %}  {% endblock %}</title>
</head>

<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">SIGRH</a>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                
                {% if request.user.empresa.get %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'editar-empresa'  request.user.empresa.get.id %}">Editar Empresa</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list-funcionarios' %}">Ver Funcionarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list-departamentos' %}">Ver Departamentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'banco-horas' %}">Ver Banco de horas</a>
                    </li>
        

                {% elif request.user.is_active %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastrar-empresa'  %}">Cadastrar Empresa</a>    
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                </li>
            </ul>
            </div>
        </nav>
        
        {% block main %}  
        
        
        {% endblock %}
        
        {% block script %} {% endblock %}
    </div>
    
</body>

</html>