{% extends 'base.html' %}

{% block main %}


    <h2>Funcionarios da Empresa {{ request.user.funcionario.empresa }}</h2>

    <a class="nav-link" href="{% url 'create-funcionario' %}?next={{ request.path }}"> 
        <button class="btn btn-lg btn-primary" type="submit">Cadastrar Funcionario</button>
    </a>

    <br>
    
    <a class="nav-link" href="{% url 'relatorio-funcionarios' %}"> 
        <button class="btn btn-lg btn-primary" type="submit">Gerar Relatorio de Funcionarios</button>
    </a>

    <br>

    {% for funcionario in object_list %}

        <p>{{funcionario}} : 
            <a href="{% url 'edit-funcionario' funcionario.id %}?next={{ request.path }}">Editar</a> 
            <a href="{% url 'delet-funcionario' funcionario.id %}?next={{ request.path }}">Excluir</a> 
        </p><br>
    
        {% empty %}
            <h3>Não a funcionarios cadastrados nesta empresa !!!</h3>

    {% endfor %}


{% endblock %}